Django==5.1.3 # building robust , secure and scalable web application
Jinja2==3.1.4 #generating dynamic html content
Pillow==11.0.0 #image processing and manipulation
requests==2.32.3 #making HTTP request easy widely used in API interaction
