Django==5.0.2 # building robust , secure and scalable web application
Jinja2==3.1.2 #generating dynamic html content
Pillow==10.1.0 #image processing and manipulation
requests==2.31.0 #making HTTP request easy widely used in API interaction
